// _header.scss
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff; /* Añadido para que el header sea visible en caso de imagen de fondo */

  &__logo {
    width: 154.5px;  /* Definir el tamaño del logo */
    height: auto;    /* Mantener la proporción de la imagen */
  }

  .menu {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-left: 2rem;  /* Espaciado entre los elementos del menú */
    }

    a {
      text-decoration: none;
      color: #000;  /* Color por defecto */
      font-weight: 500;
      &:hover {
        color: #007bff;  /* Color al pasar el cursor */
      }
    }
  }
}
