//Usando el mixin para la versión móvil (320px a 768px)
@include mobile {
  header {
    background-color: #ffffff;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
  .header__logo {
    width: 154px;
    height: auto;
    }
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-around;
      width: 100%;
  }
  .menu__li {
      margin: 0;
  }
  .menu a {
    text-decoration: none;
    color: $fourth-color;
    font-family: $font-main, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 10px;
  }
}

  
@include tablet {
  header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }
  .header__logo {
    width: auto;
    height: 60px;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .menu a {
    text-decoration: none;
    color: $fourth-color;
    font-size: 16px; 
    font-family: $font-main, sans-serif;
    text-transform: uppercase;
  }
}


@include desktop {
  
}
